<h1>ページの作成者</h1>
<div class="pages-info-container">
  <div class="pages-info-card">
    <h3 class="pages-info-card__title">ページの作成者</h3>
    <p class="pages-info-card__description">株式会社みんなのウェディング コンテンツ開発部デザイナー 高橋真実子</p>
  </div>
  <div class="pages-info-card">
    <h3 class="pages-info-card__title">ページの作成者</h3>
    <p class="pages-info-card__description">株式会社みんなのウェディング コンテンツ開発部デザイナー 高橋真実子</p>
  </div>
</div>
