// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.pages-info-container {
  display: flex;
}

.pages-info-card {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #3b4b5b;
  &:first-child {
    margin-right: 10px;
  }

  .pages-info-card__title {
    font-size: 18px;
  }

  .pages-info__description {
    font-size: 12px;
  }
}
